
.container{
    width : 100% ; 
    padding: 12px 20px;
     margin: 8px 20px;
    display: inline-block; 
    border: 1px solid    #ccc; ;
    border-radius: 4px;
    box-sizing: border-box;

}
input{
   margin : 5px  ; 
   width : 250px ; 
}
input[type=submit] {
width: 75%;
background-color: #4CAF50;
color: white; padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {  
    background-color: #45a049;
}
.form{
    border-radius: 5px;
    text-align: center;
    background-color: #d4f2e9; 
    padding: 20px;
    width: 400px;
    margin: 120px auto;
}
