<div class="blog-details">
  <div class="temp" *ngIf="!isEdit">
    <h1 class="blog-title" id="title">{{ curblog.title }}</h1>
    <div class="scroll">
      <p class="blog-desc">{{ curblog.desc }}</p>
    </div>
  </div>
  <div class="temp2" *ngIf="isEdit">
    <div class="blog-title">
      <input type="text" [(ngModel)]="curblog.title" />
    </div>
    <textarea
      class="blog-desc"
      rows="5"
      cols="84"
      [(ngModel)]="curblog.desc"
    ></textarea>
  </div>
  <p class="blog-author">Author: {{ curblog.authorId }}</p>
  <div class="button-group" *ngIf="isAuthorCurrentUser">
    <button
      type="button"
      *ngIf="!isEdit"
      class="btn btn-outline-dark"
      (click)="onEdit()"
    >
      Edit
    </button>
    <button
      type="button"
      *ngIf="isEdit"
      class="btn btn-outline-dark"
      (click)="onUpdate()"
    >
      Update
    </button>

    <button type="button" class="btn btn-outline-dark" (click)="onDelete()">
      Delete
    </button>
  </div>
</div>
<app-comments></app-comments>