
.container{
    width : 100% ; 
    padding: 12px 20px;
     margin: 8px 20px;
    display: inline-block; 
    border: 1px solid    #ccc; ;
    border-radius: 4px;
    box-sizing: border-box;

}
h2{
    margin-bottom: 20px ; 
}
input{
   margin : 21px  ; 
   padding : 10px ; 
   width : 90% ; 

}
input[type=submit] {
width: 75%;
background-color: #4CAF50;
color: white; padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {  
    background-color: #45a049;
}
.form{
    border-radius: 5px;
    text-align: center;
    background-color: #d4f2e9; 
    padding: 20px;
    width: 750px;
    margin: 100px 50px;
}
input.ng-invalid.ng-touched{
    border : red 1px solid ; 
    border-radius : 2px ;
}
small{
    color : red ;  
}