<div class="main-content">
  <div class="container">
    <div class="row temp">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="card my-3 mx-3">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ blog.authorId }}
            </h6>
            <p class="card-text blog-desc">{{ blog.desc }}</p>
            <a routerLink="/blog/{{ blog._id }}" class="card-link">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
